* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
        background: none repeat scroll 0 0 #EAEFEB;
	font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}
#wrapper {
        background: url("../images/center_roombot.png") repeat-y scroll center 0 transparent;
	width: 990px;
	min-height: 640px;
	margin: 0 auto;
	overflow: hidden;
	/*min-height: 100%;
	height: auto !important;
	height: 100%;*/
}
.ipad{
     background: url("../images/werh_roombot2.png") no-repeat scroll center 0 transparent;
     min-height: 480px;
     overflow: hidden;
     float:left;
}

/* Header
-----------------------------------------------------------------------------*/
#header {
	border-top: 1px solid #2a2a2a;
	background: transparent url("../images/header-bg.png") repeat-x 0 0;
	height: 48px;  
}
.headerbot{
    padding: 20px 0 0;
}
.logobot{
     float: left;
     padding: 95px 0 0 135px;
  
}

.header{
    border-top: 1px solid #2a2a2a;
    background: transparent url("../images/header-bg.png") repeat-x 0 0;
    height: 48px;
     border-radius: 10px;  /* свойство для тех кто его поддерживает */
    -moz-border-radius: 10px;  /* для firefox */
    -webkit-border-radius: 10px;
}
.header ul {
    margin: 0;
    list-style: none;
    padding-left: 0;
   
}

.header__navMenu>li {
    float: left;
    position: relative;
}

.header__navMenu>li>a.selected {
    border-color: rgba(0,0,0,.4)!important;
    color: #fff!important;
    box-shadow: inset 0 0 15px rgba(0,0,0,.6)!important;
}

.header__bordered, .header__navMenu>li>a {
    border: 1px solid rgba(255,255,255,.05);
    border-width: 0 1px;
}

.header__container, .header__navMenu {
    border-left: 1px solid rgba(0,0,0,.5);
    border-right: 1px solid rgba(255,255,255,.05);
    box-shadow: -1px 0 0 rgba(255,255,255,.05);
    -webkit-backface-visibility: hidden;
}

.header__login{
	padding-right:10px;
}

.headerSearch, .show .header__right {
    display: block;
    visibility: visible;
}

.headerSearch .quicksearch {
position: absolute;
padding: 0 0 0 20px;
width: 255px;
z-index: 1;
-webkit-transition: width .28s ease;
transition: width .28s ease;
top: 6px;
}

.quicksearch {
    width: 255px;
    position: relative;
}

.sc-border-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header__separator, .header__navMenu>li {
    border-right: 1px solid rgba(0,0,0,.5);
}

.g-dark textarea, .g-dark select, .g-dark input[type="text"], .g-dark input[type="password"], .g-dark input[type="search"] {
    color: #666;
    outline: 0;
    border: 0;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 14px;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    background: rgba(255,255,255,.9);
    text-shadow: none;
    box-shadow: 0 1px 0 rgba(0,0,0,1),inset 0 1px 0 rgba(34,25,25,.3);
}

.headerSearch .quicksearch__input {
    
}

.headerSearch .quicksearch__submit {
    top: 15px;
}

/* Werh tags-menu ----------------------------------------------------------- */

#tags-menu
{
    background: none repeat scroll 0 0 #222222;
    border: 1px solid #2A2A2A;
    border-radius: 2px;
    height: 44px;
    margin-left: 24px;
    margin-top: -2px !important;
    position: relative;
    text-align: center;
    width: 943px;
}

#tags-menu ul.tags-menu1 {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 6px 0 0;
}
#tags-menu ul.tags-menu1 li {
    display: inline-block;
    float: left;

}
#tags-menu ul.tags-menu1 li a {
    color: #E3EBF2;
    display: inline-block;
    font-size: 14px;
    padding: 6px 25px 15px;
}
#tags-menu ul.tags-menu1 li a:hover, #tags-menu ul.tags-menu1 li a:active, #tags-menu ul.tags-menu1 li a:focus {
    color: #FF4C00;
}
#tags-menu ul.tags-menu1 li.moreItems ul {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.79);
    display: none;
    left: 50%;
    list-style: none outside none;
    margin-left: -476px;
    padding: 8px 15px 15px;
    position: absolute;
    text-align: left;
    width: 925px;
    z-index: 9999;
}
#tags-menu ul.tags-menu1 li.moreItems:hover ul, #tags-menu ul.tags-menu1 li.moreItems:active ul, #tags-menu ul.tags-menu1 li.moreItems:focus ul {
     display: block;
}
#tags-menu ul.tags-menu1 li.moreItems ul li {
    display: inline-block;
    float: left;

    
}
#tags-menu ul.tags-menu1 li.moreItems ul li a {
    color: #E3EBF2;
    display: inline-block;
    font-size: 14px;
    padding: 6px 10px 5px; 
}
#tags-menu ul.tags-menu1 li.moreItems ul li a:hover,  #tags-menu ul.tags-menu1 li.moreItems ul li a:active, #tags-menu ul.tags-menu1 li.moreItems ul li a:focus {
    color: #FF4C00;
}

/*** end tags menu***/

.quicksearch__submit {
    background: url("../images/headers_icons.png") no-repeat scroll 50% -359px rgba(0, 0, 0, 0);
    border: 0 none;
    height: 19px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 0;
    text-indent: 22px;
    top: 14px !important;
    width: 22px;
}

input[type="search"] {
    -webkit-appearance: none;
}

.quicksearch__input {
    width: 100%;
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-weight: 100;
    border: 1px solid #ccc;
    padding: 4px 10px 3px 9px;
    font-size: 18px;
    box-shadow: inset 1px 2px 4px rgba(100,100,100,.1);
}

.header__navMenu>li>a {
    display: block;
    padding: 13px 16px 10px;
    text-shadow: 0 1px 0 #000;
    -webkit-transition: color .2s linear,box-shadow .2s linear;
    transition: color .2s linear,box-shadow .2s linear;
} 

.header__logo>a {
    display: block;
    height: 46px;
    width: 124px;
}

.header__applink>a {
    display: block;
    height: 45px;
    width: 30px;
}

.header__logo{
	padding: 0px 10px 0px 10px;
    margin: 0 !important;
}
  
.header__applink{
    float:left;
    padding-right:15px;
}

.left{
  float:left;
}

.headerSearch, .show .header__right {
    display: block;
    visibility: visible;
}

.announcements {
    width: 100%;
    position: fixed;
}

.g-z-index-fixed-top {
    z-index: 800;
}

.header__loginMenu {
    padding: 10px 10px 9px;
}

.g-dark a, .g-dark .sc-type-light {
    color: #ccc;
    text-shadow: 0 1px 0 #000;
}

.g-opacity-transition {
    -webkit-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

.sc-button-cta, .sc-button-cta:hover, .sc-button-cta:focus, .sc-button-cta:visited {
    background-color: #F76700;
    background-image: -webkit-linear-gradient(#F76700,#FA3219);
    background-image: linear-gradient(#F76700,#FA3219);
    border-color: #C53421;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: none;
}

.g-dark {
    color: #777;
}

.rb-type-light {
    font-weight: 100;
    color: #999;
}

.rb-button {
    display: inline-block;
    position: relative;
    height: 26px;
    margin: 0;
    padding: 2px 10px;
    border: 1px solid rgb(225,225,225);
    border-radius: 4px;
    background-color: #fcfcfc;
    background-image: -webkit-linear-gradient(rgba(255,255,255,.0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
    background-image: linear-gradient(rgba(255,255,255,.0),rgba(235,235,235,.3) 60%,rgba(225,225,225,.6));
    cursor: pointer;
    overflow: hidden;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
    font-family: "Interstate","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    font-weight: 100;
    text-align: center;
    vertical-align: baseline;
    box-shadow: 0 1px 2px rgba(0,0,0,.02),inset 0 1px 0 rgba(255,255,255,.7),inset -1px 0 0 rgba(255,255,255,.7),inset 0 -1px 0 rgba(255,255,255,.5),inset 1px 0 0 rgba(255,255,255,.7);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}  

.rb-button-cta, .rb-button-cta:hover, .rb-button-cta:focus, .rb-button-cta:visited {
    background-color: #F76700;
    background-image: -webkit-linear-gradient(#F76700,#FA3219);
    background-image: linear-gradient(#F76700,#FA3219);
    border-color: #C53421;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: none;
}

.g-dark a, .g-dark .sc-type-light {
    color: #ccc;
    text-shadow: 0 1px 0 #000;
    text-decoration: none;
}  

.sc-button-cta, .sc-button-cta:hover, .sc-button-cta:focus, .sc-button-cta:visited {
    background-color: #F76700;
    background-image: -webkit-linear-gradient(#F76700,#FA3219);
    background-image: linear-gradient(#F76700,#FA3219);
    border-color: #C53421;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.5);
    box-shadow: none;  
}

.header__logo img{
    border: 0;  
}

.show .header__navWrapper, .show .headerSearch, .show .header__right {
    display: block;
    visibility: visible;
}



.whodbot{
     float: right;
     padding: 108px 120px 0 0;
}
.dwery{
     padding-right: 10px;
}
.dwery a{
    background: url("../images/dwery.png") no-repeat scroll right 0 transparent;
    color: #002980;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding-top: 20px;
    text-decoration: none;
    width: 95px;
}
.kab{
    background: url("../images/fotik.png") no-repeat scroll right 11px transparent;
    width: 100px;
}
.kab a{
    color: #002980;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 50px;
    padding-top: 5px;
    text-decoration: none;
    width: 86px;
}
.dwery a:hover, .kab a:hover{
    color: #FF9800;
}



/* Middle
-----------------------------------------------------------------------------*/
#content {
    min-height: 450px;
	padding: 20px 0 10px;
	overflow: hidden;
	width: 100%;
}

.instrukciya{
    padding: 10px 0 0 135px;
}
.infobot{
     padding: 45px 0 0;
     overflow: hidden;
}
.knopka-registr{
    float: left;
    padding: 0 0 0 300px;
}
.knopka-registr a{
    background: url("../images/knopka_akkaunt_fon.png") no-repeat scroll 0 0 transparent;
    width: 331px;
    height: 56px;
    display: block;
}
.knopka-registr a:hover{
    background: url("../images/knopka_akkaunt_fon_active.png") no-repeat scroll 0 0 transparent;
}
.imgakkaunt1{
    display: block;
    padding: 12px 0 0 50px;
}
.astam{
    float: right;
    padding: 10px 130px 0 0;
}
.astam a{
    background: url("../images/Asta_logo.png") no-repeat scroll 0 0 transparent;
    color: #002B66;
    display: block;
    font-size: 9px;
    height: 38px;
    padding-top: 43px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 106px;
}
.astam a:hover{
    color: #FF6500;
}

.copirayt{
    background: url("../images/kopiryght.png") repeat-x scroll 0 0 transparent;
    height: 31px;
    margin-left: 129px;
    padding-top: 5px;
    width: 759px;
}
.copirayt span{
   padding-left: 215px;
   color: #002677;
}
.copirayt span a{
  color: #002677;
  
}
.copirayt span a:hover{
  color: #FF6500;
  
}

/* Whod / Registraciya / form
-------------------------------------------------- */
.list-bot{
    padding: 0 0 0 150px;
}
.list-bot h1{
    color: #002980;
    font-size: 32px;
}
a, a:visited {
    color: #06c;
    text-decoration: none;
}

.v-dark a, .g-dark .sc-type-light {
    color: #ccc;
    text-shadow: 0 1px 0 #000;
}
.list-bot a:hover{
    color: #FF9800;
}

div.list-bot .aktiwaciya-otwet a{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    padding-top: 10px;
    text-decoration: none;
}

.smail{
    background: url("../images/smaily.png") no-repeat scroll right 0 transparent;
    width: 650px;
}

.list3{
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 15px;
    overflow: hidden;
}
.block-a{
    height: auto;
    overflow: hidden;
    width: 717px;
}
.block4{
    margin-bottom: 20px;
}

#infpoisk{
    color: #002980;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}
#rezult-poisk{
    border-bottom: 1px solid #FFFFFF;
    margin-bottom: 20px;
}

.width-form1{
    width: 340px;
    float: left;
}

.list-bot .form form .row label{
    color: #002980;
    font-size: 15px;
    font-weight: normal;
}
.list-bot div.form form#login-form div.row input#LoginForm_rememberMe{
    float: left;
    margin-right: 17px;
    margin-top: 0;
}
.button-right{
    float: right;
}

.list-bot .form form#login-form .buttons, .list-bot .form form#member-form .buttons, .list-bot .form form#mobilepictures-form .buttons{
    background: url("../images/knopka_srednyaya_left2.png") no-repeat scroll left 0 transparent;
    height: 36px;
    margin-top: 25px;
    padding-left: 22px;
}
.list-bot .form form#login-form .buttons input, .list-bot .form form#member-form .buttons input, .list-bot .form form#mobilepictures-form .buttons input{
    background: url("../images/knopka_srednyaya_right2.png") no-repeat scroll right 0 transparent;
    border: medium none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #002980;
    cursor: pointer;
    height: 36px;
    margin: 0;
    padding-right: 23px;
    text-transform: uppercase;
}
.list-bot .form form#login-form .buttons input:hover, .list-bot .form form#member-form .buttons input:hover, .list-bot .span-17 .form .span-17 form#mobilepictures-form .buttons input:hover{
     color: #FFFFFF;
}


.list-bot .form form#member-form .row input#Member_password, .list-bot .form form#member-form .row input#Member_password_repeat, .list-bot .form form#member-form .row input#Member_email, .list-bot .form form#member-form .row input#Companies_name{
    width: 253px;
}


.ne-vhod{
    border: 1px solid #FFFFFF;
    display: inline-block;
    font-size: 14px;
    margin: -30px 0 25px 340px;
    padding: 25px;
}
.knopka-srednyaya{
    background: url("../images/knopka_srednyaya_left2.png") no-repeat scroll left 0 transparent;
    height: 36px;
    margin-top: 25px;
    padding-left: 22px;
}
.knopka-srednyaya a{
    background: url("../images/knopka_srednyaya_right2.png") no-repeat scroll right 0 transparent;
    border: medium none;
    color: #002980;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 36px;
    margin: 0;
    padding-right: 23px;
    padding-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
.knopka-srednyaya a:hover{
     color: #FFFFFF;
}

.ruka{
    background: url("../images/ruka.png") no-repeat scroll 200px 30px transparent;
    height: 40px;
    padding-top: 50px;
    width: 350px;
}

.ruky{
    background: url("../images/ruky2.png") no-repeat scroll right 0 transparent;
    height: 60px;
    margin-bottom: 50px;
    padding-top: 18px;
    width: 435px;
}

.ruka a, .ruky a{
    background: url("../images/galka_sinyaya.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    font-size: 16px;
    height: 25px;
    padding-left: 33px;
    padding-top: 4px;
    text-decoration: none;
}
.ruka a:hover, .ruky a:hover{
    background: url("../images/galka_oranshc.png") no-repeat scroll 0 0 transparent;
}
.list-bot div.span-17 div.form div.span-17 div#yw0.list-view div.items div#company_photo.span-22 a img{
  
}
img.photo-img{
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    margin-right: 10px;
    padding: 8px;
}
 form#mobilepictures-form input#Mobilepictures_img.vvv{
  
}

#poisk{
    background: url("../images/4el.png") no-repeat scroll right 0 transparent;
    border-left: 1px dotted #FFFFFF;
    float: right;
    height: 145px;
    margin-top: 10px;
    padding-left: 30px;
    padding-top: 42px;
}
.poisks{
    float: left;
    padding-top: 9px;
}
span.nazwa1{
    color: #002980;
    font-size: 16px;
    padding-left: 3px;
}
span.po4ta{
  display: block;
  padding-top: 7px;
}

input#infowvod {
    color: #627593;
    padding: 2px;
    width: 200px;
}
.poisk form#poisk11 .poisks{
    float: left;
    margin-right: 5px;
    margin-top: 9px;
}
.poisk form#poisk11 div input#infowvod{
    color: #4E5C71;
    padding: 2px;
    width: 170px;
}
.buttons2{
    float: right;
    margin-top: 25px;
    width: 80px;
}
.buttons2 input#poiskknopka{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #002980;
    border-radius: 5px 5px 5px 5px;
    color: #002980;
    float: right;
    font-weight: bold;
    padding: 1px 10px 3px;
}
.buttons2 input#poiskknopka:hover{
    color: #FF9800;
}

/* isprawleniya
-----------------------------------------------------------*/

.span-17 {
    width: 717px !important;
}
.list-view .pager {
    margin: 5px 0 15px !important;
}

.pager-left {
    margin: 5px;
}

.list-view .summary {
   /* border-bottom: 1px solid #FFFFFF; */
    margin: 0 0 10px !important;
    padding-bottom: 7px;
    text-align: left !important;
}
html body div#wrapper div.ipad div#content.span-19 div.izo-list img.main{
  width: 717px;
}

div.izo-list img.main{
  width: 717px;
}

.span-22 {
    width: 717px !important;
}

/* Kabinet
-----------------------------------------------------------------------------*/

.info-userfoto{
    background: url("../images/kopiryght.png") repeat-x scroll 0 0 transparent;
    border-bottom: 1px solid #FFFFFF;
    height: 30px;
    margin-bottom: 10px;
    padding: 11px 0 0 10px;
}
.info-userfoto img{
      padding-top: 2px;
}

span#moderat{
  
}
span#site-user{
    font-size: 16px;
    font-weight: bold;
    padding-left: 110px;
}
span#name_picture{
    color: #002980;
    font-size: 20px;
    font-weight: bold;
    padding-left: 12px;
}

.daty{
    margin-bottom: 10px;
}
#company_photo{
    min-height: 130px;
}
.izo-tegi{
    margin-bottom: 20px;
    padding-left: 243px;
    width: 300px;
}
.izo-tegi2{
    margin-bottom: 20px;
    padding-left: 243px;
    width: 300px;
}
span.tegss{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}
.izo-tegi div div{
    border-bottom: 1px dotted #FFFFFF;
    margin-bottom: 2px !important;
    height: 20px;
}
.izo-tegi div div a#delete_tag{
    display: block;
    float: right;
    padding-bottom: 2px;
    width: 15px;
}
.izo-tegi div div a#delete_tag img{
    padding-top: 3px;
}
a.a-teg{
    background: url("../images/dobawit_teg.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 23px;
    margin-left: 23px;
    padding-left: 40px;
    padding-top: 1px;
    text-decoration: none;
}
a.a-teg:hover{
   background: url("../images/dobawit_teg_active.png") no-repeat scroll 0 0 transparent;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    background: url("../images/footer_roombot2.png") no-repeat scroll center 0 transparent;
    height: 130px;
   /* margin: -130px auto 0;*/
   margin: 0 auto 0;
    position: relative;
    width: 990px;
}
.gallery{
    margin: 0 auto 20px;
    padding-left: 7px;
    width: 973px;
}
.elastislide-wrapper {
    background-color: #14191C !important;
}
.elastislide-horizontal ul li {
    display: inline-block;
    height: 120px !important;
    width: 20% !important;
}

.elastislide-carousel ul li a {
    display: inline-block;
    height: 120px !important;
    width: 100%;
}

.elastislide-carousel ul li a img {
    border: 2px solid #14191C !important;
}

#link_too_app {
	float: left;
	padding: 95px 0 0 40px;
}
/***memberInfo***/
div.memberCabinetPic{
	position: relative; 
	text-align: center;
	float: left; 
	width: 200px;
}

div.memberCabinetPic a{
	color: #333; 
	text-decoration: none;
}
div.memberCabinetPic a img{
	text-align: center; 
	max-width: 100%;
}
.rightBlockMemeberInfo {
	width: 720px;
}

#memberCommonInfo{
    float: right;
	position: relative;
}
.rightBlockMemeberInfo div#memberCommonInfo h2 {
    background: url("../images/kopiryght.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    border-bottom: 1px solid #FFFFFF;
    color: #FFA900;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    height: 22px;
    margin-bottom: 10px;
    padding: 11px 0 8px 16px;
    width: 497px;
}

div.memberCountComments {
    border-bottom: 1px solid #FFFFFF;
    margin: 0 0 18px;
    padding-bottom: 4px;
    width: 510px;
}
#memberAbout {
	width:510px;
}
.kabinet-colonka-right {

    float:right;
}
.knopky3 {
    height: 30px;
    padding: 15px 0 0;
    width: 500px;
}
.knopky1 {
    height: 30px;
}

span.zagolowok-info {
    color: #000000;
    display: inline-block;
    font-weight: bold;
    padding-bottom: 4px;
    padding-right: 10px;
}
.knopky3 a, .knopky1 a {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 2px solid #002980;
    border-radius: 5px;
    color: #002980;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-right: 20px;
    padding: 2px 15px 3px;
}
.knopky1 a {
    margin: 0;
}
.knopky3 a:hover {

}
/*endmemberInfo*/


/*comments*/  
.buttonCommentDeleteIcon{
   background-position: -240px -81px;
   margin: 0;
}
.buttonCommentEditIcon{
   
   background-position: 0 -81px;
   margin: 0;
}
.buttonsCommentAction{
    width: 20px;
    height: 20px;
    margin: 0;
    background-image: url("../images/buttonsSprite.png"); 
}
.commentIcon{
    float: right;
    margin: 0;
    background-image: none;
}
#commentsContainer{
    width: 717px;
}
.addComment{
    width: 517px;
}
.likeContainer {
white-space: nowrap;
}
.likeIcon{
    height: 18px;
} 
a.likeIcon img {
    display: inline;
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
    background-image: url("../images/buttonsSprite.png");
    background-position: -158px -118px;
    background-repeat: no-repeat;
    vertical-align: middle;
}
a.likeIcon {
    color: #333;
    text-decoration: none;
}
.submitAddComment {  
float: right;
margin-top:10px;
padding: 4px 10px;
}

.rbBtn{
    color: #fff;
    border: 1px solid #3d8901;
    background-color: #55a32a;
    background-image: linear-gradient(to bottom,#59ac2d,#4e9526);
    background-repeat: repeat-x;
}
.commentBodyContent{
    margin-bottom: 10px;
}
div.commentThumb {
	margin-right: 10px;
	float: left;
}
div.commentThumb .userAvatar {
	width: 32px;
	height: 32px;
	margin-right: auto;
}
div.commentThumb img {
	width: 32px;
	height: 32px;
}
/*end comments*/
.submitAvatar {  
	loat: left;
	margin-top:10px;
	padding: 4px 10px;
}

/***change member info****/
.labelFormField{
	width: 150px;
	float: left;
}
.labelForm{
	float: right;
	margin-right: 10px;
}
#memberChangeInfoSaveButton{
	padding-left:150px;
}
/*end change info*/

/************following button************/
#friendsFollowDiv{
	padding: 10px 0;
	text-align: center;
    float: left;
    width: inherit;
    margin:0px auto;
}
.leftBar{
	float: left;

	width: 200px;
}

.leftBar .sidebar {
    font-size: 13px;
    border: 2px solid #002980;
    margin-top: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
    padding: 0;
}


.leftBar .sidebar .sidebar-header {
    border-bottom: 2px solid #002980;
    padding: 5px 0 5px 0;
}

.leftBar .sidebar .sidebar-body ul, .sidebar .sidebar-body ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.leftBar .profileThumbBox {
    overflow: hidden;
    padding: 5px 10px 10px;
}

.leftBar div.thumbFollowUserDiv {
    float: left;
    margin: 5px 5px 0 0;
    width: 28px;
    height: 28px;
    border: 1px solid #ccc;
}

.leftBar div.thumbFollowUserDiv img {
    width: 26px;
    height: 26px;
    border: 1px solid white;
}

.Btnfollow {
	background-color: #e9e9e9;
	padding: 0;
}

.whiteBtn {
	font-size: 13px;
	color: #666;
	background: #fafafa;
	border: 1px solid #d6d6d6;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-weight: normal;
	position: relative;
	display: inline-block;
	zoom: 1;
}

.specialBtn{
	display: inline-block;
	zoom: 1;
	margin-bottom: 0;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	padding: 3px 18px;
	font-size: 13px;
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	overflow: visible;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.myIdeasBookBlock{    
	padding: 0px 0px 0px 20px;
	width: 200px;
	overflow: hidden;
	display: block;  

}
  
.addIdeaBookLink{
	display: block; 
	margin-bottom:20px;
}

img.galleryIdeasBlockImg{
	width: 100%;
	height: auto;
}
.ideasBookDescTitle {
	width: 100%;
	border: 1px solid #dedddb;
	float: left;
	overflow: hidden;
}

.ideasBookDesc{
	overflow: hidden;
	width: 125px;
	height: 80px;
}

.ideasBookDescTitlePhotoCount{
	font-size: 10px;
	font-weight: bold;
}

.ideasBookActions {
}

#ideasBookDesc{
       width:700px;
       font-size:14px;
       padding-bottom:20px;
}

.ideasBookPanel{
	padding-top:5px;
}

.ideasBookIcon {
	float: right;
	margin: 0;
	background-image: none;
}

.buttonsIdeasBookAction {
	width: 20px;
	height: 20px;
	margin: 0;
	background-image: url("../images/buttonsSprite.png");
}
.buttonIdeasBookEditIcon {
	background-position: 0 -81px;
	margin: 0;
}

.buttonIdeasBookDeleteIcon {  
	background-position: -240px -81px;
	margin: 0;
}

.submitEditIdeasBook {
	float: right;
	margin-top: 10px;
	padding: 4px 10px;
}

.okDeleteIdeasBook {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	padding: 4px 10px;
}
.cancelDeleteIdeasBook {
	float: left;
	margin-top: 10px;
	margin-left: 140px;
	padding: 4px 10px;
}

.createNewIdeasBookBtn{
	padding: 4px 10px;  
}

.addPhotoToIdeasBookBtn{
	padding: 4px 10px;  
}

.tmpInfoBtn{
	padding: 4px 10px;  
}
/************end following button************/


/*** ideasphotos  ****/
.ideasPhotosPanel{
	padding-top:5px;
}
  
.ideasPhotosIcon {
	float: right;
	margin: 0;
	background-image: none;
}  

.buttonsIdeasPhotosAction {
	width: 20px;
	height: 20px;
	margin: 0;
	background-image: url("../images/buttonsSprite.png");
}
.buttonIdeasPhotosEditIcon {
	background-position: 0 -81px;
	margin: 0;
}

.buttonIdeasPhotosDeleteIcon {  
	background-position: -240px -81px;
	margin: 0;
}


.okDeleteIdeasPhotos {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	padding: 4px 10px;
}
.cancelDeleteIdeasPhotos {
	float: left;
	margin-top: 10px;
	margin-left: 140px;
	padding: 4px 10px;
}

div.ideasPhotoOwnerThumb {
	margin-right: 10px;
	float: left;
}  

div.ideasPhotoOwnerThumb .userAvatar {
	width: 32px;  
	height: 32px;
	margin-right: auto;
}

div.ideasPhotoOwnerThumb img {
	width: 25px;
	height: 25px;
}

.okDeleteideasPhotos{
        float: left;
	margin-left: 40px;
	margin-top: 10px;
	padding: 4px 10px;
}

.cancelDeleteideasPhotos{
        float: left;
	margin-left: 175px;
	margin-top: 10px;
	padding: 4px 10px;
}

#ideasBookOwnerSignature{
        float:left;
}

#ideasBookOwnerSignature {
	width: 100%;
	padding: 0px 0px 20px 0px;
}  

#ideasBookOwnerSignature .userAvatar {
	width: 32px;  
	height: 32px;
	margin-right: auto;
}

#ideasBookOwnerSignature img {
	width: 25px;
	height: 25px;
}


/********** userCard *****************/
.userCard{
    width: 156px; height: 547px; 
    overflow: hidden !important; 
    position: relative;
}

.outerCard{
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.userCard__inner{
    height: 520px; 
    overflow-x: hidden; 
    width: 140px;
}

.userCard__Box{
    width: 140px;
}

.memberCardAvatar{
    position: relative;
    width: 140px;
    height: 140px;
}

.image.point{
    cursor: pointer;
}

.image_full, .image {  
    text-align: center;
    position: relative;
}
.userinfo {
    margin-bottom: 10px;
    padding: 5px;
    width: 700px;
    border: 1px solid #0000FF;
}
.userinfo h3{
    margin: 0;
}

.commentBodyText {
    width: 700px;
}

div.newsFeedMainContent {
    clear: both;
    margin-bottom: 30px;
    overflow: hidden;
}
div.followingTitle {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 5px solid #edede9;
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #333;
    text-align: left;
    width: 700px;
}

div.followerDiv {
    border: 1px solid #002980;
    height: 62px;
    width: 200px;
    margin: 10px 20px 10px 0px;
    padding: 5px 5px 5px 5px;
    font-size: 13px;
    font-weight: normal;
    background-color: #fff;
    float: left;
}
div.followerImageDiv {
    border: 1px solid #edede9;
    height: 60px;
    width: 60px;
    float: left;
    display: inline;
    overflow: hidden;
}
div.followerContentDiv {
    float: left;
    display: block;
    margin-left: 7px;
    width: 130px;
}
.followerImageDiv a img {
    width: 58px;
    height: 58px;
    border: 1px solid white;
}
div.followerTextDiv {
    height: 20px;
    overflow: hidden;
}
div.followerTextDiv a {
    font-size: 13px;
    font-weight: bold;
}
/*****end UserCard*****************/

/*****last photos*****************/
.lastPhotosElements{
    width: 110px;
    padding: 5px;
    float: left;
    margin-right: 100px;
    text-align: center;
}

#lastPhotosContainer{
     width:700px;
}

.lastPhotosElement{
    padding: 9px 0 25px;
}

.rb-media, .rb-media-content, .rb-media-body {
    overflow: hidden;
}

.rb-media-image, .rb-media-left {
    float: left;
    margin-right: 10px;
}

.rb-border-light-bottom {
    border-bottom: 1px solid #f2f2f2;
}

.photoImgPreview{
    margin-right: 16px;
}

.rb-list-nostyle {
  list-style: none;
  margin: 0;
}

.rb-clearfix{
    clear: both;
}

.lastPhotos__item:first-child {
    padding-top: 0;
}
.lastPhotos__item {
    /*clear: both;*/
    float: left;
    padding-top: 16px;
}

.photoElement__title {
    margin: 0 0 4px;
}

.list-bot .rb-dark-link{
   color: #333;
}

.photoElement__details, .photoElement__stats {
    margin: 0 0 10px;
}

ul.rb-ministats-group {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.rb-ministats-group .rb-ministats-item {
    float: left;
}    

a.rb-ministats {
    color: #999;
}

.rb-ministats-small {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Garuda,Verdana,Tahoma,sans-serif;
    color: #999;
    font-size: 10px;
    line-height: 12px;
}
/*****end last  photos***********/

/*********action photos***************/
.photo__footer {
    position: relative;
    height: 25px;
    padding: 10px 0 11px;
    overflow: hidden;
    width: 700px;
}

.photos__photoActions {
    float: left;
    position: relative;
    z-index: 1;
}

.rb-button-toolbar {
    margin: 0 0 7px;
}

.rb-button-group {
    vertical-align: middle;
    display: inline-block;
    clear: both;
}

.rb-button-toolbar>.rb-button-group {
    float: left;
    clear: none;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 1px solid #f2f2f2;
}

.rb-button-toolbar>.rb-button-group:last-child {
    padding-right: 0;
}
.rb-button-toolbar>.rb-button-group:first-child {
    padding-left: 0;
    border-left: none;
}
.rb-button-toolbar>.rb-button-group-medium {
    padding-right: 10px;
    padding-left: 10px;
}

.rb-button-medium.rb-button-addtogroup, .rb-button-medium.rb-button-addtoset, .rb-button-medium.rb-button-delete, .rb-button-medium.rb-button-download, .rb-button-medium.rb-button-edit, .rb-button-medium.rb-button-instagram, .rb-button-medium.rb-button-like, .rb-button-medium.rb-button-message, .rb-button-medium.rb-button-moderate, .rb-button-medium.rb-button-pc, .rb-button-medium.rb-button-reply, .rb-button-medium.rb-button-repost, .rb-button-medium.rb-button-share {
    text-indent: 18px;
}

.rb-button-medium.rb-button-icon, .rb-button-medium.rb-button-responsive {
    min-width: 31px;
}
.rb-button-toolbar>.rb-button, .rb-button-group>.rb-button {
    float: left;
    margin-right: 5px;
}

.rb-button-medium.rb-button-like {
    background-image: url("../images/like_photo.png");
    background-position:  0px 3px;
    background-repeat: no-repeat;
}

.rb-button-medium.rb-button-download {
    background-image: url("../images/download_photo.png");
    background-position:  0px 3px;
    background-repeat: no-repeat;
}

.rb-button-active, .rb-button-active:hover, .rb-button-active:focus, .rb-button-active.rb-button-focus, .rb-button-selected, .rb-button-selected:hover, .rb-button-selected:focus, .rb-button-selected.rb-button-focus {
    text-shadow: none;
    border: 1px solid rgb(200,200,200);
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,.0),inset 0 2px 2px rgba(0,0,0,.05),inset 0 1px 1px rgba(0,0,0,.08),inset -2px 0 2px rgba(0,0,0,.03),inset 0 -1px 0 rgba(0,0,0,.02),inset 2px 0 2px rgba(0,0,0,.03);
}

.photo__footerRight {
    position: absolute;
    right: 0;
    bottom: 17px;
    z-index: 0;
}
.photo__photoStats {
    float: right;
    position: relative;
    top: 5px;
}

.rb-ministats-medium.rb-ministats-likes.rb-ministats-selected{
    background-image: url("../images/like_photo.png");
    background-position:  0px 3px;
    background-repeat: no-repeat;

}

.small_i{
    background-repeat: no-repeat;
    width: 14px;
    height: 12px;
    display: inline-block;
    content: "";
    background-position: center center;
    background-position:  0px 3px;
}
.small_likes_i
{
    background:url("../images/like_in_main_list.png") left top;
}

.small_comments_i
{
    background:url("../images/comments_small.png") left top;

}

.small_albums_i
{
    background:url("../images/album_small.png") left top;
}

/* Galereya setka ----------------------------------------------- */
.items {
    overflow: hidden;
}
ul#yw1 {
    display: inline-block;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 650px;

}
ul.setka {
    padding-left: 8px !important;
    width: 710px;
}
#lastPhotosContainer ul.setka div#yw0.list-view div.items li.lastPhotos__item {
    margin-left: 10px;
    padding-right: 10px;
    padding-top: 10px !important;
}
#lastPhotosContainer ul.setka div#yw0.list-view div.items li.lastPhotos__item div.lastPhotosElement {
    border-bottom: 1px solid #687388 !important;
    padding-bottom: 10px !important;
    padding-top: 0 !important;
    margin-bottom: 8px;
}

#lastPhotosContainer ul.setka div#yw0.list-view div.items li.lastPhotos__item div.lastPhotosElement a.photoImgPreview {
    float: none;
    margin-right: 0 !important;
}
#lastPhotosContainer ul.setka div#yw0.list-view div.items li.lastPhotos__item div.lastPhotosElement a.photoImgPreview img.image__full {
    height: 155px !important;
    width: 155px !important; 
}
#lastPhotosContainer ul.setka div#yw0.list-view div.items li.lastPhotos__item div.lastPhotosElement div.rb-media-content {
    width: 155px;
}
#lastPhotosContainer ul.setka div#yw0.list-view div.items li.lastPhotos__item div.lastPhotosElement div.rb-media-content h2.photoElement__title a.rb-dark-link {
    font-size: 12px;
}

/* Spoyler ------------------------------------------------------------------------- */


 #module{
    background: none repeat scroll 0 0 #EAEFEB;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: none;
    height: auto;
    left: 3%;
    overflow: auto;
    padding: 14px 0 14px 10px;
    position: absolute;
    right: 30px;
    top: 46px;
    width: 94%;
    z-index: 1;
}
.closer{
    cursor: pointer;
    position: absolute;
    right: 28px;
    top: 15px;
    z-index: 10;
    width: 25px;
    height:25px;
}

.spoiler_container {

}

.spoiler-content-1 {
    float: left;
    margin-right: 1%;
    overflow-x: hidden;
    width: 70%;

}
.spoiler-content-1 img {


}
.gallery-sliger {

}
a.gallery-nav-left{
    float: left;
    top: 300px;
    padding-right: 12px;
    padding-top: 290px;
    display: inline-block;
}
a.gallery-nav-right {
    float: right;
    top: 300px;
    padding-left: 12px;
    padding-top: 290px;
    display: inline-block;
}
.usfot {
    float: left;
    max-width: 90%;
    overflow: hidden;
}
.sotcial {
    bottom: 0;
    /*position: absolute;*/
    width: 500px;
}
.stats-left {
    float: left;
}
.sotssety {
    /*background: none repeat scroll 0 0 #D8E4ED;*/
    float: right;
    /*padding: 0 15px;*/
    margin-bottom: 2px;
}
.spoiler-content-2 {
    float: right;
    height: 600px;
    overflow: hidden;
    width: 29%;

}
.scroll-content2 {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}
.awtor {
    height: 62px;
}
.awtor img {
    float: left;
    padding-right: 10px;
}
.awtor h2.photoElement__title a.rb-dark-link {
    font-size: 14px; 
}
div.spoiler-content-2 div.scroll-content2 div.info-foto div.foto-nazwa h3 {
     margin-bottom: 7px !important;
}
.spoiler-content-2 p {
    border-bottom: 1px solid #BAD5E6;
    margin-bottom: 3px !important;
    padding-bottom: 3px;
}
.spoiler-content-2 div.scroll-content2 div.foto-kommentariy div.komments-users span.user h4 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 3px !important;
}
.spoiler-content-2 div.scroll-content2 div.info-foto div.foto-tegi span strong {
    padding-right:10px;
}
.spoiler-content-2 div.scroll-content2 div.foto-kommentariy div.foto-kom-info {
    background: none repeat scroll 0 0 #E2F1F9;
    padding: 2px 15px;
    margin: 8px 0;
}
.spoiler-content-2 div.scroll-content2 div.foto-kommentariy div.foto-kom-info a {
    float: right;
}


/* Usercomment ----------------------------------------- */
.napisat-komment {
    margin-top: 10px;
}
.spoiler-content-2 div.scroll-content2 div.foto-kommentariy div.napisat-komment table.table-comment tbody tr td form#usercomment span {
     font-weight: bold;
}

input.opublik {
    margin-top:15px;
}

.graybutton {
    padding: 3px 6px;

}
.graybutton span.addBookmarkLink {
    float: left;
    cursor: pointer;
    height: 20px;
    margin-top: 3px;
    margin-left: 2px;
}
.graybuttonIcon {
    float: left;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-top: 3px;
}

.addPhotoToIdeasBookBtn, .tmpInfoBtn {
    cursor: pointer;
}

.phtError {
    display: none;
    color: #ff0000;
}
.commentError {
    color: #ff0000;
}

div.loading {
    background-color: #eee;
    background-image: url('../images/loading_icon.gif');
    background-size:50px 50px;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 999;
}

div.loading * {
    opacity: .8;
}

.commentInfo {
    margin: 5px 0 5px 0;
}
.submitComment {
    padding: 4px 10px;
    cursor: pointer;
}
.comment-actions {
    padding-right: 5px;
    cursor: pointer;
}
/*********end action photos*********/