#gaz-main
{
  background: #ABC8E8 url('../images/pageglare.png') no-repeat fixed;
  background: url('../images/pageglare.png') no-repeat, linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  background: url('../images/pageglare.png') no-repeat, -webkit-linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  background: url('../images/pageglare.png') no-repeat, -moz-linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  background: url('../images/pageglare.png') no-repeat, -o-linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  background: url('../images/pageglare.png') no-repeat, -ms-linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  background: url('../images/pageglare.png') no-repeat, linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  -svg-background: url('../images/pageglare.png') no-repeat, linear-gradient(top, #ABC8E8 0, #6B9FD6 441px) no-repeat, #ABC8E8;
  background-size: auto, 100% 441px, auto !important;
  background-attachment: fixed, fixed, scroll !important;
  margin: 0 auto;
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
  position: relative;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  cursor: default;
  overflow: hidden;
}

table, ul.gaz-hmenu
{
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
  margin: 0;
  padding: 0;
}

.gaz-button
{
  border: 0;
  border-collapse: separate;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  background: #3B94C4;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 auto;
  height: 21px;
}

.gaz-postcontent, .gaz-postheadericons, .gaz-postfootericons, .gaz-blockcontent, ul.gaz-vmenu a
{
  text-align: justify;
}

.gaz-postcontent, .gaz-postcontent li, .gaz-postcontent table, .gaz-postcontent a, .gaz-postcontent a:link, .gaz-postcontent a:visited, .gaz-postcontent a.visited, .gaz-postcontent a:hover, .gaz-postcontent a.hovered
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.gaz-postcontent p
{
  margin: 12px 0;
}

.gaz-postcontent h1, .gaz-postcontent h1 a, .gaz-postcontent h1 a:link, .gaz-postcontent h1 a:visited, .gaz-postcontent h1 a:hover, .gaz-postcontent h2, .gaz-postcontent h2 a, .gaz-postcontent h2 a:link, .gaz-postcontent h2 a:visited, .gaz-postcontent h2 a:hover, .gaz-postcontent h3, .gaz-postcontent h3 a, .gaz-postcontent h3 a:link, .gaz-postcontent h3 a:visited, .gaz-postcontent h3 a:hover, .gaz-postcontent h4, .gaz-postcontent h4 a, .gaz-postcontent h4 a:link, .gaz-postcontent h4 a:visited, .gaz-postcontent h4 a:hover, .gaz-postcontent h5, .gaz-postcontent h5 a, .gaz-postcontent h5 a:link, .gaz-postcontent h5 a:visited, .gaz-postcontent h5 a:hover, .gaz-postcontent h6, .gaz-postcontent h6 a, .gaz-postcontent h6 a:link, .gaz-postcontent h6 a:visited, .gaz-postcontent h6 a:hover, .gaz-blockheader .t, .gaz-blockheader .t a, .gaz-blockheader .t a:link, .gaz-blockheader .t a:visited, .gaz-blockheader .t a:hover, .gaz-vmenublockheader .t, .gaz-vmenublockheader .t a, .gaz-vmenublockheader .t a:link, .gaz-vmenublockheader .t a:visited, .gaz-vmenublockheader .t a:hover, .gaz-headline, .gaz-headline a, .gaz-headline a:link, .gaz-headline a:visited, .gaz-headline a:hover, .gaz-slogan, .gaz-slogan a, .gaz-slogan a:link, .gaz-slogan a:visited, .gaz-slogan a:hover, .gaz-postheader, .gaz-postheader a, .gaz-postheader a:link, .gaz-postheader a:visited, .gaz-postheader a:hover
{
  font-size: 28px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  line-height: 120%;
}

.gaz-postcontent a, .gaz-postcontent a:link
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #3B94C4;
}

.gaz-postcontent a:visited, .gaz-postcontent a.visited
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #6CBBCB;
}

.gaz-postcontent  a:hover, .gaz-postcontent a.hover
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #66ACD1;
}

.gaz-postcontent h1
{
  color: #1E4D66;
  margin: 10px 0 0;
  font-size: 26px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-blockcontent h1
{
  margin: 10px 0 0;
  font-size: 26px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h1 a, .gaz-postcontent h1 a:link, .gaz-postcontent h1 a:hover, .gaz-postcontent h1 a:visited, .gaz-blockcontent h1 a, .gaz-blockcontent h1 a:link, .gaz-blockcontent h1 a:hover, .gaz-blockcontent h1 a:visited
{
  font-size: 26px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h2
{
  color: #1E4D66;
  margin: 10px 0 0;
  font-size: 22px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-blockcontent h2
{
  margin: 10px 0 0;
  font-size: 22px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h2 a, .gaz-postcontent h2 a:link, .gaz-postcontent h2 a:hover, .gaz-postcontent h2 a:visited, .gaz-blockcontent h2 a, .gaz-blockcontent h2 a:link, .gaz-blockcontent h2 a:hover, .gaz-blockcontent h2 a:visited
{
  font-size: 22px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h3
{
  color: #2E4456;
  margin: 10px 0 0;
  font-size: 18px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-blockcontent h3
{
  margin: 10px 0 0;
  font-size: 18px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h3 a, .gaz-postcontent h3 a:link, .gaz-postcontent h3 a:hover, .gaz-postcontent h3 a:visited, .gaz-blockcontent h3 a, .gaz-blockcontent h3 a:link, .gaz-blockcontent h3 a:hover, .gaz-blockcontent h3 a:visited
{
  font-size: 18px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h4
{
  color: #15363C;
  margin: 10px 0 0;
  font-size: 16px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-blockcontent h4
{
  margin: 10px 0 0;
  font-size: 16px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h4 a, .gaz-postcontent h4 a:link, .gaz-postcontent h4 a:hover, .gaz-postcontent h4 a:visited, .gaz-blockcontent h4 a, .gaz-blockcontent h4 a:link, .gaz-blockcontent h4 a:hover, .gaz-blockcontent h4 a:visited
{
  font-size: 16px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h5
{
  color: #15363C;
  margin: 10px 0 0;
  font-size: 14px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-blockcontent h5
{
  margin: 10px 0 0;
  font-size: 14px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h5 a, .gaz-postcontent h5 a:link, .gaz-postcontent h5 a:hover, .gaz-postcontent h5 a:visited, .gaz-blockcontent h5 a, .gaz-blockcontent h5 a:link, .gaz-blockcontent h5 a:hover, .gaz-blockcontent h5 a:visited
{
  font-size: 14px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h6
{
  color: #32808F;
  margin: 10px 0 0;
  font-size: 13px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-blockcontent h6
{
  margin: 10px 0 0;
  font-size: 13px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

.gaz-postcontent h6 a, .gaz-postcontent h6 a:link, .gaz-postcontent h6 a:hover, .gaz-postcontent h6 a:visited, .gaz-blockcontent h6 a, .gaz-blockcontent h6 a:link, .gaz-blockcontent h6 a:hover, .gaz-blockcontent h6 a:visited
{
  font-size: 13px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
}

header, footer, article, nav, #gaz-hmenu-bg, .gaz-sheet, .gaz-hmenu a, .gaz-vmenu a, .gaz-slidenavigator > a, .gaz-checkbox:before, .gaz-radiobutton:before
{
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
}

header, footer, article, nav, #gaz-hmenu-bg, .gaz-sheet, .gaz-slidenavigator > a, .gaz-checkbox:before, .gaz-radiobutton:before
{
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

ul
{
  list-style-type: none;
}

ol
{
  list-style-position: inside;
}

html, body
{
  height: 100%;
}

body
{
  padding: 0;
  margin: 0;
  min-width: 1000px;
  color: #15363C;
}

.clearfix:before, .clearfix:after
{
  content: "";
  display: table;
}

.clearfix:after
{
  clear: both;
}

.cleared
{
  font: 0/0 serif;
  clear: both;
}

form
{
  padding: 0 !important;
  margin: 0 !important;
}

table.position
{
  position: relative;
  width: 100%;
  table-layout: fixed;
}

li h1, .gaz-postcontent li h1, .gaz-blockcontent li h1
{
  margin: 1px;
}

li h2, .gaz-postcontent li h2, .gaz-blockcontent li h2
{
  margin: 1px;
}

li h3, .gaz-postcontent li h3, .gaz-blockcontent li h3
{
  margin: 1px;
}

li h4, .gaz-postcontent li h4, .gaz-blockcontent li h4
{
  margin: 1px;
}

li h5, .gaz-postcontent li h5, .gaz-blockcontent li h5
{
  margin: 1px;
}

li h6, .gaz-postcontent li h6, .gaz-blockcontent li h6
{
  margin: 1px;
}

li p, .gaz-postcontent li p, .gaz-blockcontent li p
{
  margin: 1px;
}

.gaz-shapes
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 0;
}

.gaz-slider-inner
{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.gaz-slidenavigator > a
{
  display: inline-block;
  vertical-align: middle;
  outline-style: none;
  font-size: 1px;
}

.gaz-slidenavigator > a:last-child
{
  margin-right: 0 !important;
}

.gaz-slideheader0-object137604871 h1, .gaz-slideheader0-object137604871 h2, .gaz-slideheader0-object137604871 h3, .gaz-slideheader0-object137604871 h4, .gaz-slideheader0-object137604871 h5, .gaz-slideheader0-object137604871 h6, .gaz-slideheader0-object137604871 p, .gaz-slideheader0-object137604871 a, .gaz-slideheader0-object137604871 ul, .gaz-slideheader0-object137604871 ol, .gaz-slideheader0-object137604871 li
{
  line-height: 125%;
}

.gaz-slideheader0-object137604871
{
  position: absolute;
  top: 111px;
  left: 50%;
  margin-left: -250px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 0;
  width: 500px;
  height: 148px;
}

.gaz-slideheader0-object137604871-text
{
  font-size: 30px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: center;
  vertical-align: middle;
  color: #0E242F !important;
  display: table-cell;
  outline-style: none;
  padding: 15px 15px !important;
  word-wrap: break-word;
  height: 118px;
  width: 470px;
}

.gaz-textblock ul > li
{
  background-position-y: 8px !important;
}

.gaz-slideheader1-object206700637 h1, .gaz-slideheader1-object206700637 h2, .gaz-slideheader1-object206700637 h3, .gaz-slideheader1-object206700637 h4, .gaz-slideheader1-object206700637 h5, .gaz-slideheader1-object206700637 h6, .gaz-slideheader1-object206700637 p, .gaz-slideheader1-object206700637 a, .gaz-slideheader1-object206700637 ul, .gaz-slideheader1-object206700637 ol, .gaz-slideheader1-object206700637 li
{
  line-height: 125%;
}

.gaz-slideheader1-object206700637
{
  position: absolute;
  top: 111px;
  left: 50%;
  margin-left: -250px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 0;
  width: 500px;
  height: 148px;
}

.gaz-slideheader1-object206700637-text
{
  font-size: 30px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: center;
  vertical-align: middle;
  color: #C0DDEC !important;
  display: table-cell;
  outline-style: none;
  padding: 15px 15px !important;
  word-wrap: break-word;
  height: 118px;
  width: 470px;
}

.gaz-textblock ul > li
{
  background-position-y: 8px !important;
}

.gaz-slideheader2-object1817741454 h1, .gaz-slideheader2-object1817741454 h2, .gaz-slideheader2-object1817741454 h3, .gaz-slideheader2-object1817741454 h4, .gaz-slideheader2-object1817741454 h5, .gaz-slideheader2-object1817741454 h6, .gaz-slideheader2-object1817741454 p, .gaz-slideheader2-object1817741454 a, .gaz-slideheader2-object1817741454 ul, .gaz-slideheader2-object1817741454 ol, .gaz-slideheader2-object1817741454 li
{
  line-height: 125%;
}

.gaz-slideheader2-object1817741454
{
  position: absolute;
  top: 111px;
  left: 50%;
  margin-left: -250px !important;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  overflow: hidden;
  z-index: 0;
  width: 500px;
  height: 148px;
}

.gaz-slideheader2-object1817741454-text
{
  font-size: 30px;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  text-align: center;
  vertical-align: middle;
  color: #D0E5F1 !important;
  display: table-cell;
  outline-style: none;
  padding: 15px 15px !important;
  word-wrap: break-word;
  height: 118px;
  width: 470px;
}

.gaz-textblock ul > li
{
  background-position-y: 8px !important;
}

.gaz-slidecontainerheader
{
  position: relative;
  width: 100%;
  height: 100%;
}

.gaz-slidecontainerheader .gaz-slide-item
{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.gaz-slidecontainerheader .gaz-slide-item
{
  -webkit-transition: 1000ms ease-in-out opacity;
  -moz-transition: 1000ms ease-in-out opacity;
  -ms-transition: 1000ms ease-in-out opacity;
  -o-transition: 1000ms ease-in-out opacity;
  transition: 1000ms ease-in-out opacity;
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.gaz-slidecontainerheader .active, .gaz-slidecontainerheader .next, .gaz-slidecontainerheader .prev
{
  display: block;
}

.gaz-slidecontainerheader .active
{
  opacity: 1;
}

.gaz-slidecontainerheader .next, .gaz-slidecontainerheader .prev
{
  width: 100%;
}

.gaz-slidecontainerheader .next.forward, .gaz-slidecontainerheader .prev.back
{
  opacity: 1;
}

.gaz-slidecontainerheader .active.forward
{
  opacity: 0;
}

.gaz-slidecontainerheader .active.back
{
  opacity: 0;
}

.gaz-slideheader0
{
  background-image: url('../images/slideheader0-object137604871.png'),  url('../images/slideheader0.jpg');
  background-position: 250px 111px,  0 0;
  background-repeat: no-repeat;
}

.gaz-slideheader1
{
  background-image: url('../images/slideheader1-object206700637.png'),  url('../images/slideheader1.jpg');
  background-position: 250px 111px,  0 0;
  background-repeat: no-repeat;
}

.gaz-slideheader2
{
  background-image: url('../images/slideheader2-object1817741454.png'),  url('../images/slideheader2.jpg');
  background-position: 250px 111px,  0 0;
  background-repeat: no-repeat;
}

.gaz-slidenavigatorheader
{
  display: inline-block;
  position: absolute;
  direction: ltr !important;
  top: 346px;
  left: 0%;
  z-index: 101;
  line-height: 0 !important;
  -webkit-background-origin: border !important;
  -moz-background-origin: border !important;
  background-origin: border-box !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  white-space: nowrap;
  right: 0px;
}

.gaz-slidenavigatorheader
{
  background: #909FAD;
  background: transparent;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding: 7px;
}

.gaz-slidenavigatorheader > a
{
  background: #4C5A67;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
}

.gaz-slidenavigatorheader > a.active
{
  background: #2F779D;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  border: 1px solid #225672;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
}

.gaz-slidenavigatorheader > a:hover
{
  background: #2F779D;
  -webkit-border-radius: 20%;
  -moz-border-radius: 20%;
  border-radius: 20%;
  border: 1px solid #3B94C4;
  margin: 0 10px 0 0;
  width: 10px;
  height: 10px;
}

.gaz-nav
{
  background: #8EABC2;
  background: rgba(142, 171, 194, 0.6);
  border-bottom: 1px solid rgba(93, 180, 198, 0.3);
  margin: 0 auto;
  position: relative;
  z-index: 100;
  font-size: 0;
}

ul.gaz-hmenu a, ul.gaz-hmenu a:link, ul.gaz-hmenu a:visited, ul.gaz-hmenu a:hover
{
  outline: none;
  position: relative;
  z-index: 11;
}

ul.gaz-hmenu, ul.gaz-hmenu ul
{
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
}

ul.gaz-hmenu li
{
  position: relative;
  z-index: 5;
  display: block;
  float: left;
  background: none;
  margin: 0;
  padding: 0;
  border: 0;
}

ul.gaz-hmenu li:hover
{
  z-index: 10000;
  white-space: normal;
}

ul.gaz-hmenu:after, ul.gaz-hmenu ul:after
{
  content: ".";
  height: 0;
  display: block;
  visibility: hidden;
  overflow: hidden;
  clear: both;
}

ul.gaz-hmenu, ul.gaz-hmenu ul
{
  min-height: 0;
}

ul.gaz-hmenu
{
  display: inline-block;
  vertical-align: bottom;
  padding-left: 0;
  padding-right: 0;
}

.gaz-nav-inner:before
{
  content: ' ';
}

.gaz-nav-inner
{
  text-align: left;
  margin: 0 auto;
}

.desktop-nav .gaz-nav-inner
{
  width: 1000px;
  padding-left: 0;
  padding-right: 0;
}

.desktop-nav.gaz-nav
{
  padding-left: 0;
  padding-right: 0;
}

.gaz-hmenu-extra1
{
  position: relative;
  display: block;
  float: left;
  width: auto;
  height: auto;
  background-position: center;
}

.gaz-hmenu-extra2
{
  position: relative;
  display: block;
  float: right;
  width: auto;
  height: auto;
  background-position: center;
}

.gaz-hmenu
{
  float: left;
}

.gaz-menuitemcontainer
{
  margin: 0 auto;
}

ul.gaz-hmenu>li
{
  margin-left: 1px;
}

ul.gaz-hmenu>li:first-child
{
  margin-left: 0;
}

ul.gaz-hmenu>li:last-child, ul.gaz-hmenu>li.last-child
{
  margin-right: 0;
}

ul.gaz-hmenu>li>a
{
  padding: 0 40px;
  margin: 0 auto;
  position: relative;
  display: block;
  height: 68px;
  cursor: pointer;
  text-decoration: none;
  color: #112C31;
  line-height: 68px;
  text-align: center;
}

.gaz-hmenu a, .gaz-hmenu a:link, .gaz-hmenu a:visited, .gaz-hmenu a.active, .gaz-hmenu a:hover
{
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
}

ul.gaz-hmenu>li>a.active
{
  background: #2F779D;
  padding: 0 40px;
  margin: 0 auto;
  color: #E4F0F7;
  text-decoration: none;
}

ul.gaz-hmenu>li>a:visited, ul.gaz-hmenu>li>a:hover, ul.gaz-hmenu>li:hover>a
{
  text-decoration: none;
}

ul.gaz-hmenu>li>a:hover, .desktop ul.gaz-hmenu>li:hover>a
{
  background: #42617B;
  padding: 0 40px;
  margin: 0 auto;
}

ul.gaz-hmenu>li>a:hover, .desktop-nav ul.gaz-hmenu>li:hover>a
{
  color: #EBF0F4;
  text-decoration: none;
}

ul.gaz-hmenu>li:before
{
  position: absolute;
  display: block;
  content: ' ';
  top: 0;
  left: -1px;
  width: 1px;
  height: 68px;
  background: url('../images/menuseparator.png') center center no-repeat;
}

ul.gaz-hmenu>li:first-child:before
{
  display: none;
}

ul.gaz-hmenu li li a
{
  background: #5DB4C6;
  background: transparent;
  padding: 0 25px;
  margin: 0 auto;
}

ul.gaz-hmenu li li
{
  float: none;
  width: auto;
  margin-top: 5px;
  margin-bottom: 5px;
}

.desktop-nav ul.gaz-hmenu li li ul>li:first-child
{
  margin-top: 0;
}

ul.gaz-hmenu li li ul>li:last-child
{
  margin-bottom: 0;
}

.gaz-hmenu ul a
{
  display: block;
  white-space: nowrap;
  height: 30px;
  min-width: 7em;
  border: 0 solid transparent;
  text-align: left;
  line-height: 30px;
  color: #0D2226;
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}

.gaz-hmenu ul a:link, .gaz-hmenu ul a:visited, .gaz-hmenu ul a.active, .gaz-hmenu ul a:hover
{
  text-align: left;
  line-height: 30px;
  color: #0D2226;
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
}

ul.gaz-hmenu li li:after
{
  display: block;
  position: absolute;
  content: ' ';
  height: 0;
  top: -3px;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #92CDD9;
}

.desktop-nav ul.gaz-hmenu li li:first-child:before, .desktop-nav ul.gaz-hmenu li li:first-child:after
{
  display: none;
}

ul.gaz-hmenu ul li a:hover, .desktop ul.gaz-hmenu ul li:hover>a
{
  background: #3C97AA;
  margin: 0 auto;
}

.gaz-hmenu ul a:hover
{
  text-decoration: none;
}

.gaz-hmenu ul li a:hover
{
  color: #E8EEF3;
}

.desktop-nav .gaz-hmenu ul li:hover>a
{
  color: #E8EEF3;
}

ul.gaz-hmenu ul:before
{
  background: #5DB4C6;
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  z-index: 1;
}

.desktop-nav ul.gaz-hmenu li:hover>ul
{
  visibility: visible;
  top: 100%;
}

.desktop-nav ul.gaz-hmenu li li:hover>ul
{
  top: 0;
  left: 100%;
}

ul.gaz-hmenu ul
{
  visibility: hidden;
  position: absolute;
  z-index: 10;
  left: 0;
  top: 0;
  background-image: url('../images/spacer.gif');
}

.desktop-nav ul.gaz-hmenu>li>ul
{
  padding: 15px 35px 35px 35px;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.gaz-hmenu ul ul
{
  padding: 35px 35px 35px 15px;
  margin: -35px 0 0 -5px;
}

.desktop-nav ul.gaz-hmenu ul.gaz-hmenu-left-to-right
{
  right: auto;
  left: 0;
  margin: -10px 0 0 -30px;
}

.desktop-nav ul.gaz-hmenu ul.gaz-hmenu-right-to-left
{
  left: auto;
  right: 0;
  margin: -10px -30px 0 0;
}

.desktop-nav ul.gaz-hmenu li li:hover>ul.gaz-hmenu-left-to-right
{
  right: auto;
  left: 100%;
}

.desktop-nav ul.gaz-hmenu li li:hover>ul.gaz-hmenu-right-to-left
{
  left: auto;
  right: 100%;
}

.desktop-nav ul.gaz-hmenu ul ul.gaz-hmenu-left-to-right
{
  right: auto;
  left: 0;
  padding: 35px 35px 35px 15px;
  margin: -35px 0 0 -5px;
}

.desktop-nav ul.gaz-hmenu ul ul.gaz-hmenu-right-to-left
{
  left: auto;
  right: 0;
  padding: 35px 15px 35px 35px;
  margin: -35px -5px 0 0;
}

.desktop-nav ul.gaz-hmenu li ul>li:first-child
{
  margin-top: 0;
}

.desktop-nav ul.gaz-hmenu li ul>li:last-child
{
  margin-bottom: 0;
}

.desktop-nav ul.gaz-hmenu ul ul:before
{
  border-radius: 0;
  top: 30px;
  bottom: 30px;
  right: 30px;
  left: 10px;
}

.desktop-nav ul.gaz-hmenu>li>ul:before
{
  top: 10px;
  right: 30px;
  bottom: 30px;
  left: 30px;
}

.desktop-nav ul.gaz-hmenu>li>ul.gaz-hmenu-left-to-right:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.gaz-hmenu>li>ul.gaz-hmenu-right-to-left:before
{
  right: 30px;
  left: 30px;
}

.desktop-nav ul.gaz-hmenu ul ul.gaz-hmenu-left-to-right:before
{
  right: 30px;
  left: 10px;
}

.desktop-nav ul.gaz-hmenu ul ul.gaz-hmenu-right-to-left:before
{
  right: 10px;
  left: 30px;
}

.gaz-sheet
{
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
  margin: 2px auto 0;
  position: relative;
  cursor: auto;
  width: 1000px;
  z-index: auto !important;
}

.gaz-header
{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  height: 370px;
  background-image: none;
  background-position: 0 0;
  background-repeat: no-repeat;
  position: relative;
  z-index: auto !important;
}

.responsive .gaz-header
{
  background-image: none;
  background-position: center center;
}

.gaz-header>div.gaz-nostyle, .gaz-header>div.gaz-block, .gaz-header>div.gaz-post
{
  position: absolute;
  z-index: 101;
}

.gaz-header .gaz-slider-inner
{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.gaz-layout-wrapper
{
  position: relative;
  margin: 5px auto 0 auto;
  z-index: auto !important;
}

.gaz-content-layout
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.gaz-content-layout-row
{
  display: table-row;
}

.gaz-layout-cell
{
  display: table-cell;
  vertical-align: top;
}

.gaz-vmenublock
{
  margin: 5px;
}

div.gaz-vmenublock img
{
  margin: 0;
}

.gaz-vmenublockheader
{
  padding: 12px 0;
  margin: 0 auto;
}

.gaz-vmenublockheader .t, .gaz-vmenublockheader .t a, .gaz-vmenublockheader .t a:link, .gaz-vmenublockheader .t a:visited, .gaz-vmenublockheader .t a:hover
{
  color: #21545E;
  font-size: 14px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 10px;
}

.gaz-vmenublockcontent
{
  margin: 0 auto;
}

ul.gaz-vmenu, ul.gaz-vmenu ul
{
  list-style: none;
  display: block;
}

ul.gaz-vmenu, ul.gaz-vmenu li
{
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  line-height: 0;
}

ul.gaz-vmenu
{
  margin-top: 0;
  margin-bottom: 0;
}

ul.gaz-vmenu ul
{
  display: none;
  margin: 0;
  padding: 0;
  position: relative;
}

ul.gaz-vmenu ul.active
{
  display: block;
}

ul.gaz-vmenu>li>a
{
  padding: 0 10px;
  margin: 0 auto;
  color: #225862;
  min-height: 36px;
  line-height: 36px;
}

ul.gaz-vmenu a
{
  display: block;
  cursor: pointer;
  z-index: 1;
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

ul.gaz-vmenu li
{
  position: relative;
}

ul.gaz-vmenu>li
{
  margin-top: 4px;
}

ul.gaz-vmenu>li>ul
{
  padding: 0;
  margin-top: 4px;
  margin-bottom: 4px;
}

ul.gaz-vmenu>li:first-child
{
  margin-top: 0;
}

ul.gaz-vmenu>li>a:hover, ul.gaz-vmenu>li>a.active:hover
{
  background: #66ACD1;
  padding: 0 10px;
  margin: 0 auto;
}

ul.gaz-vmenu>li>a:hover, ul.gaz-vmenu>li>a.active:hover
{
  text-decoration: underline;
}

ul.gaz-vmenu a:hover, ul.gaz-vmenu a.active:hover
{
  color: #2D4253;
}

ul.gaz-vmenu>li>a.active:hover>span.border-top, ul.gaz-vmenu>li>a.active:hover>span.border-bottom
{
  background-color: transparent;
}

ul.gaz-vmenu>li>a.active
{
  padding: 0 10px;
  margin: 0 auto;
  text-decoration: none;
  color: #225862;
}

ul.gaz-vmenu>li>ul:before
{
  background: #D7E1EA;
  background: transparent;
  margin: 0 auto;
  display: block;
  position: absolute;
  content: ' ';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

ul.gaz-vmenu li li a
{
  margin: 0 auto;
  position: relative;
}

ul.gaz-vmenu ul li
{
  margin: 0;
  padding: 0;
}

ul.gaz-vmenu li li
{
  position: relative;
  margin-top: 0;
}

ul.gaz-vmenu ul a
{
  display: block;
  position: relative;
  min-height: 32px;
  overflow: visible;
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 0;
  line-height: 32px;
  color: #95CEDA;
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}

ul.gaz-vmenu ul a:visited, ul.gaz-vmenu ul a.active:hover, ul.gaz-vmenu ul a:hover, ul.gaz-vmenu ul a.active
{
  line-height: 32px;
  color: #95CEDA;
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  margin-left: 0;
  margin-right: 0;
}

ul.gaz-vmenu ul ul a
{
  padding-left: 40px;
}

ul.gaz-vmenu ul ul ul a
{
  padding-left: 60px;
}

ul.gaz-vmenu ul ul ul ul a
{
  padding-left: 80px;
}

ul.gaz-vmenu ul ul ul ul ul a
{
  padding-left: 100px;
}

ul.gaz-vmenu li li a:before
{
  content: url('../images/vmenusubitemicon.png');
  margin-right: 10px;
  bottom: 1px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera ul.gaz-vmenu li li a:before
{
  bottom: 0;
}

ul.gaz-vmenu ul>li>a:hover, ul.gaz-vmenu ul>li>a.active:hover
{
  margin: 0 auto;
}

ul.gaz-vmenu ul li a:hover, ul.gaz-vmenu ul li a.active:hover
{
  text-decoration: underline;
  color: #5983A6;
}

ul.gaz-vmenu ul a:hover:after
{
  background-position: center;
}

ul.gaz-vmenu ul a.active:hover:after
{
  background-position: center;
}

ul.gaz-vmenu ul a.active:after
{
  background-position: bottom;
}

ul.gaz-vmenu li li a:hover:before
{
  content: url('../images/vmenuhoveredsubitemicon.png');
  margin-right: 10px;
  bottom: 1px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera ul.gaz-vmenu li li a:hover:before
{
  bottom: 0;
}

ul.gaz-vmenu ul>li>a.active
{
  margin: 0 auto;
}

ul.gaz-vmenu ul a.active, ul.gaz-vmenu ul a:hover, ul.gaz-vmenu ul a.active:hover
{
  text-decoration: none;
  color: #91C3DE;
}

ul.gaz-vmenu li li a.active:before
{
  content: url('../images/vmenuactivesubitemicon.png');
  margin-right: 10px;
  bottom: 1px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera ul.gaz-vmenu li li a.active:before
{
  bottom: 0;
}

.gaz-block
{
  margin: 5px;
}

div.gaz-block img
{
  border: none;
  margin: 12px;
}

.gaz-blockheader
{
  padding: 12px 3px;
  margin: 0 auto;
}

.gaz-blockheader .t, .gaz-blockheader .t a, .gaz-blockheader .t a:link, .gaz-blockheader .t a:visited, .gaz-blockheader .t a:hover
{
  color: #21545E;
  font-size: 14px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 10px;
}

.gaz-blockcontent
{
  padding: 3px;
  margin: 0 auto;
  color: #15363C;
  font-size: 12px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: justify;
}

.gaz-blockcontent table, .gaz-blockcontent li, .gaz-blockcontent a, .gaz-blockcontent a:link, .gaz-blockcontent a:visited, .gaz-blockcontent a:hover
{
  color: #15363C;
  font-size: 12px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: justify;
}

.gaz-blockcontent p
{
  margin: 0 5px;
}

.gaz-blockcontent a, .gaz-blockcontent a:link
{
  color: #3B94C4;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.gaz-blockcontent a:visited, .gaz-blockcontent a.visited
{
  color: #95CEDA;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.gaz-blockcontent a:hover, .gaz-blockcontent a.hover
{
  color: #66ACD1;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.gaz-block ul>li:before
{
  content: url('../images/blockbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -15px;
}

.opera .gaz-block ul>li:before
{
  bottom: 0;
}

.gaz-block li
{
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: justify;
  line-height: 125%;
  color: #132F3F;
  margin: 5px 0 0 10px;
}

.gaz-block ul>li, .gaz-block ol
{
  padding: 0;
}

.gaz-block ul>li
{
  padding-left: 15px;
}

.gaz-breadcrumbs
{
  margin: 0 auto;
}

a.gaz-button, a.gaz-button:link, a:link.gaz-button:link, body a.gaz-button:link, a.gaz-button:visited, body a.gaz-button:visited, input.gaz-button, button.gaz-button
{
  text-decoration: none;
  font-size: 12px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  color: #0F252A;
  margin: 0 !important;
  overflow: visible;
  cursor: pointer;
  text-indent: 0;
  line-height: 21px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.gaz-button img
{
  margin: 0;
  vertical-align: middle;
}

.firefox2 .gaz-button
{
  display: block;
  float: left;
}

input, select, textarea
{
  vertical-align: middle;
  font-size: 12px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

.gaz-block select
{
  width: 96%;
}

input.gaz-button
{
  float: none !important;
}

.gaz-button.active, .gaz-button.active:hover
{
  background: #225672;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 auto;
}

.gaz-button.active, .gaz-button.active:hover
{
  color: #D1DCE6 !important;
}

.gaz-button.hover, .gaz-button:hover
{
  background: #42617B;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 auto;
}

.gaz-button.hover, .gaz-button:hover
{
  color: #D4E7F2 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #9CB5C9;
  margin: 0 auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], textarea
{
  width: 100%;
  padding: 4px 0;
  color: #15363C !important;
  font-size: 12px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

input.gaz-error, textarea.gaz-error
{
  background: #FFFFFF;
  border: 1px solid #E2341D;
  margin: 0 auto;
}

input.gaz-error, textarea.gaz-error
{
  color: #15363C !important;
  font-size: 12px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: bold;
  font-style: normal;
  text-transform: uppercase;
}

form.gaz-search input[type="text"]
{
  background: #FFFFFF;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #9CB5C9;
  margin: 0 auto;
  width: 100%;
  padding: 3px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #15363C !important;
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
}

form.gaz-search
{
  background-image: none;
  border: 0;
  display: block;
  position: relative;
  top: 0;
  padding: 0;
  margin: 5px;
  left: 0;
  line-height: 0;
}

form.gaz-search input
{
  top: 0;
  right: 0;
}

form.gaz-search>input
{
  bottom: 0;
  left: 0;
  vertical-align: middle;
}

form.gaz-search input[type="submit"]
{
  margin: 0 auto;
  color: #0F252A !important;
  position: absolute;
  display: block;
  left: auto;
  border: none;
  background: url('../images/searchicon.png') center center no-repeat;
  width: 24px;
  height: 100%;
  padding: 0;
}

label.gaz-checkbox:before
{
  background: #FFFFFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #5DB4C6;
  margin: 0 auto;
  width: 20px;
  height: 20px;
}

label.gaz-checkbox
{
  cursor: pointer;
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 20px;
  display: inline-block;
}

.gaz-checkbox>input[type="checkbox"]
{
  margin: 0 5px 0 0;
}

label.gaz-checkbox.active:before
{
  background: #8DC1DD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #567E9F;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: inline-block;
}

label.gaz-checkbox.hovered:before
{
  background: #C4DFED;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #3B94C4;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  display: inline-block;
}

label.gaz-radiobutton:before
{
  background: #FFFFFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #26626D;
  margin: 0 auto;
  width: 16px;
  height: 16px;
}

label.gaz-radiobutton
{
  cursor: pointer;
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  line-height: 16px;
  display: inline-block;
}

.gaz-radiobutton>input[type="radio"]
{
  vertical-align: baseline;
  margin: 0 5px 0 0;
}

label.gaz-radiobutton.active:before
{
  background: #8DC1DD;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #567E9F;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

label.gaz-radiobutton.hovered:before
{
  background: #C4DFED;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #3B94C4;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  display: inline-block;
}

.gaz-post
{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 5px;
  margin: 5px;
}

a img
{
  border: 0;
}

.gaz-article img, img.gaz-article, .gaz-block img, .gaz-footer img
{
  margin: 10px 10px 10px 10px;
}

.gaz-metadata-icons img
{
  border: none;
  vertical-align: middle;
  margin: 2px;
}

.gaz-article table, table.gaz-article
{
  border-collapse: collapse;
  margin: 1px;
}

.gaz-post .gaz-content-layout-br
{
  height: 0;
}

.gaz-article th, .gaz-article td
{
  padding: 2px;
  border: dotted 1px #5DB4C6;
  vertical-align: top;
  text-align: left;
}

.gaz-article th
{
  text-align: center;
  vertical-align: middle;
  padding: 7px;
}

pre
{
  overflow: auto;
  padding: 0.1em;
}

.preview-cms-logo
{
  border: 0;
  margin: 1em 1em 0 0;
  float: left;
}

.image-caption-wrapper
{
  padding: 10px 10px 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper img
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper div.gaz-collage
{
  margin: 0 !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.image-caption-wrapper p
{
  font-size: 80%;
  text-align: right;
  margin: 0;
}

.gaz-postheader
{
  color: #1D4A62;
  margin-top: 5px;
  font-size: 24px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.gaz-postheader a, .gaz-postheader a:link, .gaz-postheader a:visited, .gaz-postheader a.visited, .gaz-postheader a:hover, .gaz-postheader a.hovered
{
  font-size: 24px;
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: normal;
  text-transform: uppercase;
}

.gaz-postheader a, .gaz-postheader a:link
{
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-transform: uppercase;
  text-align: left;
  color: #3585B1;
}

.gaz-postheader a:visited, .gaz-postheader a.visited
{
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #81A1BB;
}

.gaz-postheader a:hover, .gaz-postheader a.hovered
{
  font-family: Electrolize, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #66ACD1;
}

.gaz-postmetadataheader
{
  background: #CAD7E2;
  background: rgba(202, 215, 226, 0.8);
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 1px;
  margin-top: 5px;
}

.gaz-postheadericons, .gaz-postheadericons a, .gaz-postheadericons a:link, .gaz-postheadericons a:visited, .gaz-postheadericons a:hover
{
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  color: #225862;
}

.gaz-postheadericons
{
  display: inline-block;
  padding: 1px;
}

.gaz-postheadericons a, .gaz-postheadericons a:link
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #225672;
}

.gaz-postheadericons a:visited, .gaz-postheadericons a.visited
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
  color: #225672;
}

.gaz-postheadericons a:hover, .gaz-postheadericons a.hover
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #2E7499;
}

.gaz-postdateicon:before
{
  content: url('../images/postdateicon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gaz-postdateicon:before
{
  bottom: 0;
}

.gaz-postauthoricon:before
{
  content: url('../images/postauthoricon.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gaz-postauthoricon:before
{
  bottom: 0;
}

.gaz-postprinticon:before
{
  content: url('../images/system/printButton.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gaz-postprinticon:before
{
  bottom: 0;
}

.gaz-postemailicon:before
{
  content: url('../images/system/emailButton.png');
  margin-right: 6px;
  bottom: 1px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .gaz-postemailicon:before
{
  bottom: 0;
}

.gaz-postediticon:before
{
  content: url('../images/system/edit.png');
  margin-right: 6px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  bottom: auto;
}

.opera .gaz-postediticon:before
{
  bottom: 0;
}

.gaz-postcontent ul>li:before, .gaz-post ul>li:before, .gaz-textblock ul>li:before
{
  content: url('../images/postbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
}

.opera .gaz-postcontent ul>li:before, .opera   .gaz-post ul>li:before, .opera   .gaz-textblock ul>li:before
{
  bottom: 0;
}

.gaz-postcontent li, .gaz-post li, .gaz-textblock li
{
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: justify;
  color: #0B1B1E;
  margin: 5px 0 0 11px;
}

.gaz-postcontent ul>li, .gaz-post ul>li, .gaz-textblock ul>li, .gaz-postcontent ol, .gaz-post ol, .gaz-textblock ol
{
  padding: 0;
}

.gaz-postcontent ul>li, .gaz-post ul>li, .gaz-textblock ul>li
{
  padding-left: 15px;
}

.gaz-postcontent ul>li:before, .gaz-post ul>li:before, .gaz-textblock ul>li:before
{
  margin-left: -15px;
}

.gaz-postcontent ol, .gaz-post ol, .gaz-textblock ol, .gaz-postcontent ul, .gaz-post ul, .gaz-textblock ul
{
  margin: 1em 0 1em 11px;
}

.gaz-postcontent li ol, .gaz-post li ol, .gaz-textblock li ol, .gaz-postcontent li ul, .gaz-post li ul, .gaz-textblock li ul
{
  margin: 0.5em 0 0.5em 11px;
}

.gaz-postcontent li, .gaz-post li, .gaz-textblock li
{
  margin: 5px 0 0 0;
}

.gaz-postcontent ol>li, .gaz-post ol>li, .gaz-textblock ol>li
{
  overflow: visible;
}

.gaz-postcontent ul>li, .gaz-post ul>li, .gaz-textblock ul>li
{
  overflow-x: visible;
  overflow-y: hidden;
}

blockquote
{
  background: #C4DFED url('../images/postquote.png') no-repeat scroll;
  padding: 12px 12px 12px 36px;
  margin: 0 0 0 15px;
  color: #071218;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: justify;
  overflow: auto;
  clear: both;
}

blockquote a, .gaz-postcontent blockquote a, .gaz-blockcontent blockquote a, .gaz-footer blockquote a, blockquote a:link, .gaz-postcontent blockquote a:link, .gaz-blockcontent blockquote a:link, .gaz-footer blockquote a:link, blockquote a:visited, .gaz-postcontent blockquote a:visited, .gaz-blockcontent blockquote a:visited, .gaz-footer blockquote a:visited, blockquote a:hover, .gaz-postcontent blockquote a:hover, .gaz-blockcontent blockquote a:hover, .gaz-footer blockquote a:hover
{
  color: #071218;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  font-weight: normal;
  font-style: italic;
  text-align: justify;
}

blockquote p, .gaz-postcontent blockquote p, .gaz-blockcontent blockquote p, .gaz-footer blockquote p
{
  margin: 0;
}

.gaz-footer
{
  background: #9CB5C9;
  background: linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  background: -webkit-linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  background: -moz-linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  background: -o-linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  background: -ms-linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  background: linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  -svg-background: linear-gradient(top, #B6C9D8 0, #81A1BB 100%) no-repeat;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-top: 1px solid #5DB4C6;
  padding: 15px;
  margin: 50px auto 0;
  position: relative;
  color: #0B1B1E;
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-align: center;
}

.gaz-footer a, .gaz-footer a:link, .gaz-footer a:visited, .gaz-footer a:hover, .gaz-footer td, .gaz-footer th, .gaz-footer caption
{
  color: #0B1B1E;
  font-size: 11px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.gaz-footer p
{
  padding: 0;
  text-align: center;
}

.gaz-footer a, .gaz-footer a:link
{
  color: #235976;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.gaz-footer a:visited
{
  color: #1C474F;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: none;
}

.gaz-footer a:hover
{
  color: #0F2733;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  text-decoration: underline;
}

.gaz-footer img
{
  border: 1px dashed #9CB5C9;
  margin: 12px;
}

.gaz-rss-tag-icon
{
  background: url('../images/footerrssicon.png') no-repeat scroll;
  margin: 0 auto;
  min-height: 32px;
  min-width: 32px;
  display: inline-block;
  text-indent: 35px;
  background-position: left center;
}

.gaz-rss-tag-icon:empty
{
  vertical-align: middle;
}

.gaz-footer ul>li:before
{
  content: url('../images/footerbullets.png');
  margin-right: 6px;
  bottom: 2px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-left: -10px;
}

.opera .gaz-footer ul>li:before
{
  bottom: 0;
}

.gaz-footer li
{
  font-size: 13px;
  font-family: Cuprum, Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
  line-height: 125%;
  color: #09181F;
  margin: 5px 0 0 5px;
}

.gaz-footer ul>li, .gaz-footer ol
{
  padding: 0;
}

.gaz-footer ul>li
{
  padding-left: 10px;
}

.gaz-page-footer, .gaz-page-footer a, .gaz-page-footer a:link, .gaz-page-footer a:visited, .gaz-page-footer a:hover
{
  font-family: Arial;
  font-size: 10px;
  letter-spacing: normal;
  word-spacing: normal;
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
  color: #1E4D66;
}

.gaz-page-footer
{
  position: relative;
  z-index: auto !important;
  padding: 1em;
  text-align: center !important;
  text-decoration: none;
  color: #0B1B1E;
}

img.gaz-lightbox
{
  cursor: pointer;
}

#gaz-lightbox-bg *
{
  padding: 0;
  margin: 0;
}

div#gaz-lightbox-bg
{
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
  z-index: 9999;
}

img.gaz-lightbox-image
{
  -webkit-transition: opacity 350ms ease-in-out;
  -moz-transition: opacity 350ms ease-in-out;
  -o-transition: opacity 350ms ease-in-out;
  -ms-transition: opacity 350ms ease-in-out;
  transition: opacity 350ms ease-in-out;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  border: 6px solid #fff;
  border-radius: 3px;
  opacity: 0;
  filter: alpha(opacity=0);
}

img.gaz-lightbox-image.active
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.lightbox-error
{
  position: fixed;
  background: #fff;
  z-index: 100;
  opacity: 0.95;
  padding: 20px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
  width: 300px;
  height: 80px;
}

.loading
{
  position: fixed;
  background: #fff url('../images/preloader-01.gif') center center no-repeat;
  width: 32px;
  height: 32px;
  z-index: 10100;
  opacity: 0.5;
  padding: 10px;
  border: 1px solid #b4b4b4;
  border-radius: 10px;
  box-shadow: 0 2px 5px #333;
}

.arrow
{
  height: 100px;
  width: 82px;
  z-index: 10003;
  position: fixed;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.arrow.left
{
  left: 9px;
}

.arrow.right
{
  right: 9px;
}

.arrow:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.arrow.disabled
{
  display: none;
}

.arrow-t, .arrow-b
{
  height: 6px;
  width: 30px;
  left: 26px;
  background-color: #fff;
  position: relative;
  border-radius: 3px;
}

.arrow-t
{
  top: 38px;
}

.arrow-b
{
  top: 50px;
}

.close
{
  width: 22px;
  height: 22px;
  position: fixed;
  top: 30px;
  right: 39px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.close:hover
{
  opacity: 1;
  filter: alpha(opacity=100);
}

.close .cw, .close .ccw
{
  position: absolute;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 6px;
  background-color: #fff;
  border-radius: 3px;
}

.cw
{
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

.ccw
{
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

.close-alt, .arrow-right-alt, .arrow-left-alt
{
  display: none;
  color: #fff;
  font-size: 2.5em;
}

.ie8 .close-alt, .ie8 .arrow-right-alt, .ie8 .arrow-left-alt
{
  display: block;
}

.ie8 .cw, .ie8 .ccw
{
  display: none;
}

.gaz-content-layout .gaz-sidebar1
{
  background: #D7E1EA;
  background: transparent;
  border-right: 1px solid #5DB4C6;
  margin: 0 auto;
  width: 225px;
}

.gaz-content-layout .gaz-content
{
  margin: 0 auto;
}

.gaz-content-layout .gaz-sidebar2
{
  background: #D7E1EA;
  background: transparent;
  border-left: 1px solid #5DB4C6;
  margin: 0 auto;
  width: 225px;
}

fieldset dl
{
  display: block;
  margin: 0;
  padding: 0;
  background: none;
}

fieldset dt
{
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 12em;
  height: 2em;
  margin: 0;
  padding: 0;
  float: left;
  clear: both;
  background: none;
  line-height: 2em;
  overflow: hidden;
}

fieldset dd
{
  display: block;
  min-height: 2em;
  margin: 0 0 0 12em;
  padding: 0;
  background: none;
  line-height: 2em;
}

fieldset label
{
  display: inline-block;
  width: 12em;
}

fieldset textarea
{
  vertical-align: text-top;
}

.img-fulltext-left, .img-intro-left
{
  float: left;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0.3em 0.3em 0;
  margin-top: 0;
}

.img-fulltext-right, .img-intro-right
{
  float: right;
  display: block;
  border: none;
  padding: 0;
  margin: 0 0 0.3em 0.3em;
  margin-top: 0;
}

ul.pagenav
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

ul.pagenav li, ul.pagenav li:before
{
  display: block;
  background: none;
  margin: 0;
  padding: 0;
  width: 50%;
  text-align: center;
  content: normal;
}

ul.pagenav li.pagenav-prev
{
  float: left;
}

ul.pagenav li.pagenav-next
{
  margin: 0 0 0 50%;
}

div.item-page dl.tabs
{
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page dl.tabs:before
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  width: 1em;
  height: 2em;
  overflow: hidden;
}

div.item-page dl.tabs dt
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  float: left;
  height: 2em;
  overflow: hidden;
  border-left: dotted 1px #5DB4C6;
  border-top: dotted 1px #5DB4C6;
}

div.item-page dl.tabs dt h3
{
  margin: 0;
  padding: 0 1em;
  line-height: 2em;
  font-size: 100%;
  overflow: hidden;
}

div.item-page dl.tabs dt h3 a
{
  text-decoration: none;
}

div.item-page dl.tabs:after
{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  border-left: dotted 1px #5DB4C6;
  content: " ";
  overflow: hidden;
  height: 2em;
}

div.item-page div.current
{
  clear: both;
  border: dotted 1px #5DB4C6;
}

div.item-page div.current dd.tabs
{
  margin: 0;
  padding: 0;
}

div.item-page .panel
{
  border: dotted 1px #5DB4C6;
  margin-top: -1px;
}

div.item-page .panel h3
{
  margin: 0;
  padding: 0;
}

div.item-page .panel h3 a
{
  display: block;
  padding: 6px;
  text-decoration: none;
}

div.item-page .panel h3.pane-toggler-down a
{
  border-bottom: dotted 1px #5DB4C6;
}

div.item-page .panel .pane-slider
{
  margin: 0;
  padding: 0;
}

div.item-page div.pagination ul
{
  clear: both;
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

div.item-page div.pagination li
{
  display: block;
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: center;
  float: left;
  white-space: nowrap;
}

div.item-page div.pagination:after
{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#searchForm .phrases-box
{
  display: block;
  float: left;
}

#searchForm .ordering-box
{
  text-align: right;
}

#searchForm .phrases-box label, #searchForm .ordering-box label, #searchForm .only label
{
  display: inline-block;
  width: auto;
  height: 2em;
  margin: 0;
  padding: 0 0.3em;
}

#mod-finder-searchform label
{
  display: block;
}

#mod-finder-searchform input.inputbox
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

#login-form #form-login-username label, #login-form #form-login-password label
{
  display: block;
}

#login-form #form-login-username input, #login-form #form-login-password input
{
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  max-width: 300px;
}

.breadcrumbs img
{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

dl.stats-module
{
  padding: 0.3em 0 0.3em 0.3em;
  margin: 0;
}

dl.stats-module dt
{
  float: left;
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  width: 10em;
  padding: 0.3em 0.3em 0 0;
  margin: 0;
  font-weight: bold;
}

dl.stats-module dd
{
  display: block;
  line-height: 1.5em;
  min-height: 1.5em;
  margin-left: 0 0 0 10em;
}

div.mod-languages ul
{
  margin: 0;
  padding: 0;
  list-style: none;
}

div.mod-languages li
{
  background: none;
  margin: 0 0.3em;
  padding: 0;
}

div.mod-languages ul.lang-inline li
{
  display: inline;
}

div.mod-languages ul.lang-block li
{
  display: block;
}

div.mod-languages img
{
  border: none;
  margin: 0;
  padding: 0;
}

div.clr
{
  clear: both;
}

#system-message ul li
{
  background-image: none;
}

ul.actions, ul.actions li, ul.actions li img
{
  display: inline;
  margin: 0;
  padding: 0;
  border: none;
}

ul.actions li
{
  background: none;
  list-style: none;
}

.items-row
{
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.items-row .item
{
  display: table-cell;
  vertical-align: top;
}

.items-row .row-separator
{
  display: none;
}

div.pagination p.counter
{
  display: inline-block;
  margin: 0 0.3em 0 0;
  padding: 0;
  background: none;
}

div.pagination ul, div.pagination ul li, div.pagination ul > li:before
{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0.3em;
  background: none;
  content: normal;
}

div.tip-wrap
{
  background: #fff;
  border: 1px solid #aaa;
}

div.tip-wrap div.tip
{
  padding: 0.3em;
}

div.tip-wrap div.tip-title
{
  font-weight: bold;
}

table.category
{
  width: 100%;
}

table.category thead th img
{
  padding: 0 0 0 0.3em;
  margin: 0;
  border: none;
}

span.hasTip a img
{
  padding: 0;
  margin: 0;
  border: none;
}

div.categories-list ul li span.item-title, div.cat-children ul li span.item-title
{
  display: block;
  margin: 0 0 0.3em 0;
}

div.categories-list ul li div.category-desc, div.cat-children ul li div.category-desc
{
  margin: 0 0 0.3em 0;
}

div.categories-list dl, div.cat-children dl
{
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background: none;
}

div.categories-list dl dt, div.cat-children dl dt, div.categories-list dl dd, div.cat-children dl dd
{
  display: inline-block;
  padding: 0;
  margin: 0;
  background: none;
}

div.img_caption p.img_caption
{
  padding: 0.3em 0;
  margin: 0;
}
